.header-wrapper {
  height: 81px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.header-section-1 {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-name {
  font-size: 24px;
  line-height: 32px;
  color: #f4f5f6;
  position: relative;
  left: -75px;
}

.divider-icon {
  position: relative;
  left: -30px;
}
@media screen and (max-width: 1074px) {
  .divider-icon {
    display: none;
  }
}

.burger-icon {
  display: none;
}
@media screen and (max-width: 800px) {
  .burger-icon {
    display: inline;
  }
}

.header-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #777e90;
  width: 100%;
}
@media screen and (max-width: 1074px) {
  .header-item {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header-item {
    display: none;
  }
}

.header-section-2 {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
}
@media screen and (max-width: 1074px) {
  .header-section-2 {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .header-section-2 {
    display: none;
  }
}

.search-wrapper {
  width: 256px;
  height: 40px;
  border: 1px solid #777e90;
  border-radius: 8px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #141416;
  border: none;
  color: #777e90;
  text-align: start;
  height: 38px;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.bell-icon-new {
  position: relative;
  bottom: 20px;
  right: 10px;
}

.header-btn-upload {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 90px;
  padding: 12px 16px;
  background-color: #3772ff;
  color: #fcfcfd;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.header-btn-connectWallet {
  width: 137px;
  height: 40px;
  border: 2px solid #777e90;
  border-radius: 90px;
  padding: 12px 16px;
  background-color: #141416;
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #141416;
  height: 2000vh;
}

a {
  text-decoration: none;
  color: 777000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-section-1 {
  width: 100%;
  height: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 1074px) {
  .main-section-1 {
    height: 252px;
  }
}
.container {
  max-height: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-section-1-p {
  font-size: 12px;
  font-weight: 700;
  color: #777e90;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .main-section-1-p {
    display: none;
  }
}

.main-section-1-p-small {
  display: none;
}
@media screen and (max-width: 900px) {
  .main-section-1-p-small {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #777e90;
  }
}

.main-section-1-h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fcfcfd;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .main-section-1-h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

.main-section-1-btn {
  padding: 12px 48px;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #777e90;
  color: #fcfcfd;
  background-color: #141416;
}
@media screen and (max-width: 900px) {
  .main-section-1-btn {
    padding: 10px 42px;
  }
}

.main-section-2 {
  height: 1064px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
}
@media screen and (max-width: 900px) {
  .main-section-2 {
    flex-direction: column;
    margin-top: 160px;
    height: 1264px;
  }
}

.main-section-2-part1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-section-2-videoImg {
  width: 640px;
  height: auto;
}
@media screen and (max-width: 1074px) {
  .main-section-2-videoImg {
    width: 538px;
  }
}
@media screen and (max-width: 900px) {
  .main-section-2-videoImg {
    width: 311px;
  }
}

.video-btns-group {
  width: 624px;
  height: 40px;
  border-radius: 48px;
  background-color: #141416;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -50px;
}
@media screen and (max-width: 1074px) {
  .video-btns-group {
    width: 512px;
  }
}
@media screen and (max-width: 900px) {
  .video-btns-group {
    width: 295px;
  }
}

.rouler {
  width: 383px;
  border: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1074px) {
  .rouler {
    width: 271px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 900px) {
  .rouler {
    background-color: #fcfcfd;
    width: 94px;
    border-radius: 8px;
  }
}

.rouler-watched {
  width: 40px;
  height: 8px;
  border-radius: 8px 0px 0px 8px;
  background-color: #3772ff;
}

.rouler-not-watched {
  width: 343px;
  height: 8px;
  border-radius: 0px 8px 8px 0px;
  background-color: #353945;
}
@media screen and (max-width: 900px) {
  .rouler-not-watched {
    background-color: #fcfcfd;
    width: 54px;
  }
}

.video-timer {
  color: #fcfcfd;
}
@media screen and (max-width: 900px) {
  .video-timer {
    display: none;
  }
}

.main-section-2-part2 {
  width: 352px;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 1074px) {
  .main-section-2-part2 {
    height: 700px;
  }
}
@media screen and (max-width: 1074px) {
  .part2-theCreatorNetwork {
    display: none;
  }
}

.part2-theCreatorNetwork-tabletMobile {
  display: none;
}
@media screen and (max-width: 1074px) {
  .part2-theCreatorNetwork-tabletMobile {
    display: block;
  }
}

.part2-avatar-type-name-container {
  display: flex;
  align-items: center;
}

.part2-avatar-type-name-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 159.5px;
}

.part2-avatar {
  border-radius: 48px;
}

.part2-logo {
  padding: 9px;
  border-radius: 48px;
  background-color: #45b26b;
}

.type-name-group {
  display: flex;
  flex-direction: column;
}

.type {
  font-size: 12px;
  font-weight: 400;
  color: #777e90;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #fcfcfd;
}

.part2-bid-container {
  width: 352px;
  height: 296px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  background-color: #23262f;
  border-radius: 24px;
  text-align: center;
}
@media screen and (max-width: 1074px) {
  .part2-bid-container {
    width: 304px;
  }
}

.currentBid-group {
  height: 112px;
  line-height: 10px;
}

.part2-bid-text {
  font-size: 16px;
  font-weight: 500;
  color: #fcfcfd;
}

.part2-bid-quantity {
  font-size: 48px;
  font-weight: 700;
  color: #fcfcfd;
}

.part2-bid-total {
  font-size: 24px;
  font-weight: 600;
  color: #777e90;
}

.timer {
  display: flex;
  align-items: center;
  line-height: 5px;
  width: 230px;
  justify-content: space-evenly;
}

.number {
  font-size: 32px;
  font-weight: 700;
  color: #fcfcfd;
}

.txt {
  font-size: 16px;
  font-weight: 500;
  color: #777e90;
}

.part-3-placeABidButton {
  width: 352px;
  height: 48px;
  border-radius: 90px;
  background-color: #3772ff;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1074px) {
  .part-3-placeABidButton {
    width: 304px;
  }
}

.part-3-viewItemButton {
  width: 352px;
  height: 48px;
  border-radius: 90px;
  background-color: #353945;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1074px) {
  .part-3-viewItemButton {
    width: 304px;
  }
}

.arrowGroup {
  width: 88px;
  position: relative;
  right: 130px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1074px) {
  .arrowGroup {
    right: 100px;
  }
}
@media screen and (max-width: 900px) {
  .arrowGroup {
    right: 0px;
  }
}

.arrowRight {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #353945;
}

.main-section3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1074px) {
  .main-section3 {
    flex-direction: column;
    justify-content: center;
  }
}

.main-section-part1-part2-wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1074px) {
  .main-section-part1-part2-wrapper {
    width: 864px;
  }
}
@media screen and (max-width: 900px) {
  .main-section-part1-part2-wrapper {
    justify-content: center;
  }
}

.main-section3-part1 {
  height: 512px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .main-section3-part1 {
    width: 311px;
  }
}

.main-section3-part1-1img {
  width: 448px;
  height: 446px;
  border-radius: 12px;
}
@media screen and (max-width: 1074px) {
  .main-section3-part1-1img {
    width: 414px;
    height: 432px;
  }
}
@media screen and (max-width: 900px) {
  .main-section3-part1-1img {
    width: 322px;
    height: 446px;
  }
}

.item-group {
  display: flex;
  align-items: center;
  width: 448px;
  height: 56px;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .item-group {
    width: 311px;
  }
}

.item-avatar-header {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 56px;
}

.item-header-group {
  line-height: 5px;
}

.item-header-1 {
  color: #fcfcfd;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .item-header-1 {
    font-size: 16px;
    font-weight: 500;
  }
}

.item-header-2 {
  color: #fcfcfd;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .item-header-2 {
    font-size: 12px;
    font-weight: 600;
  }
}

.item-BidGroup {
  line-height: 10px;
}

.item-BidText {
  color: #777e90;
  font-size: 12px;
  font-weight: 400;
}

.item-BidNumber {
  color: #45b26b;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 8px 6px 8px;
  border: 2px solid #45b26b;
  border-radius: 4px;
}

.main-section3-part2 {
  width: 351px;
  height: 512px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .main-section3-part2 {
    display: none;
  }
}

.part2-card-group {
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
}

.part2-card-img {
  width: 160px;
  border-radius: 12px;
}

.card-text-group {
  width: 167px;
  height: 106px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.card-avatar-number-group {
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-btn {
  border-radius: 90px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: #141416;
  border: 2px solid #777e90;
  color: #fcfcfd;
}

.main-section3-part3 {
  display: flex;
  align-items: center;
  height: 512px;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 1074px) {
  .main-section3-part3 {
    align-items: flex-start;
    width: 864px;
    height: 312px;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .main-section3-part3 {
    align-items: baseline;
    max-width: 511px;
    position: relative;
    right: 100px;
  }
}

.part3-header-text {
  font-size: 12px;
  font-weight: 600px;
  color: #777e90;
}
@media screen and (max-width: 1074px) {
  .part3-header-text {
    text-align: left;
  }
}

@media screen and (max-width: 1074px) {
  .part3-card-container {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  .part3-card-container {
    margin-left: 200px;
  }
}

.part3-card-group {
  display: flex;
  align-items: center;
  width: 224px;
}

.part3-img-group {
  display: flex;
  align-items: center;
}

.part3-avatar {
  width: 56px;
  height: 56px;
  border-radius: 54px;
}

.part3-img-number {
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  bottom: 20px;
  right: 60px;
  background-color: #fcfcfd;
  border-radius: 64px;
}

.part3-card-name {
  color: #fcfcfd;
  font-size: 14px;
  font-weight: 500;
}

.part3-card-number {
  font-size: 12px;
  font-weight: 500px;
  color: #777e90;
}

.part3-card-number-strong {
  font-size: 12px;
  font-weight: 600px;
  color: #fcfcfd;
}

.part3-btn {
  width: 158px;
  height: 40px;
  border-radius: 90px;
  background-color: #141416;
  color: #fcfcfd;
  border: 2px solid #777e90;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (max-width: 1074px) {
  .part3-btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */