body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #141416;
    height: 2000vh;
    // color: #fdfdfd;
    // $sans-serif: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: 777E90;
   }

//overflow rules 
//     @media screen and (max-width: $medium) {
//     width: 864px;
//     overflow: hidden;
//     gap: 40px;
//     }