$main-color: #777e90;
$secondary-color: #fcfcfd;
$small: 900px;
// $small: 375px;
$medium: 1074px;
// $medium: 1024px;
@mixin flex {
  display: flex;
  align-items: center;
}
.home-main{
  @include flex;
  flex-direction: column;
}
//--Section1
.main-section-1 {
  width: 100%;
  height: 268px;
  @include flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (max-width: $medium) {
    height: 252px;
  }
  @media screen and (min-width: $small) {
    // justify-content: center;
  }
}
.container {
  max-height: 140px;
  @include flex;
  flex-direction: column;
}
.main-section-1-p {
  font-size: 12px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
  @media screen and (max-width: $small) {
    display: none;
  }
}
.main-section-1-p-small {
  display: none;
  @media screen and (max-width: $small) {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-color;
  }
}
.main-section-1-h1 {
  font-size: 40px;
  font-weight: 700;
  color: $secondary-color;
  text-align: center;
  @media screen and (max-width: $small) {
    font-size: 32px;
    line-height: 40px;
  }
}
.main-section-1-btn {
  padding: 12px 48px;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid $main-color;
  color: $secondary-color;
  background-color: #141416;
  @media screen and (max-width: $small) {
    padding: 10px 42px;
  }
}
//--Section2
.main-section-2 {
  width: 100%;
  height: 1064px;
  @include flex;
  justify-content: space-evenly;
  margin-top: 60px;
  @media screen and (max-width: $small) {
    flex-direction: column;
    margin-top: 160px;
    height: 1264px;
  }
}
.main-section-2-part1 {
  @include flex;
  flex-direction: column;
}
.main-section-2-videoImg {
  width: 640px;
  height: auto;
  @media screen and (max-width: $medium) {
    width: 538px;
  }
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
.video-btns-group {
  width: 624px;
  height: 40px;
  border-radius: 48px;
  background-color: #141416;
  @include flex;
  justify-content: space-evenly;
  position: relative;
  top: -50px;
  @media screen and (max-width: $medium) {
    width: 512px;
  }
  @media screen and (max-width: $small) {
    width: 295px;
    // justify-content: center;
  }
}
.rouler {
  width: 383px;
  border: none;
  @include flex;
  @media screen and (max-width: $medium) {
    width: 271px;
    border-radius: 8px;
  }
  @media screen and (max-width: $small) {
    background-color: #fcfcfd;
    width: 94px;
    border-radius: 8px;
  }
}
.rouler-watched {
  width: 40px;
  height: 8px;
  border-radius: 8px 0px 0px 8px;
  background-color: #3772ff;
}
.rouler-not-watched {
  width: 343px;
  height: 8px;
  border-radius: 0px 8px 8px 0px;
  background-color: #353945;
  @media screen and (max-width: $small) {
    background-color: #fcfcfd;
    width: 54px;
    // border-radius: 0px 8px 8px 0px;
  }
}
.video-timer {
  color: #fcfcfd;
  @media screen and (max-width: $small) {
    display: none;
  }
}
.main-section-2-part2 {
  width: 352px;
  height: 800px;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    height: 700px;
  }
  @media screen and (max-width: $small) {
    // height: 1052px;
  }
}
.part2-theCreatorNetwork {
  @media screen and (max-width: $medium) {
    display: none;
  }
}
.part2-theCreatorNetwork-tabletMobile {
  display: none;
  @media screen and (max-width: $medium) {
    display: block;
  }
}
.part2-avatar-type-name-container {
  @include flex;
}
.part2-avatar-type-name-group {
  @include flex;
  justify-content: space-evenly;
  width: 159.5px;
}
.part2-avatar {
  border-radius: 48px;
}
.part2-logo {
  padding: 9px;
  border-radius: 48px;
  background-color: #45b26b;
}
.type-name-group {
  display: flex;
  flex-direction: column;
}
.type {
  font-size: 12px;
  font-weight: 400;
  color: #777e90;
}
.name {
  font-size: 14px;
  font-weight: 500;
  color: #fcfcfd;
}
.part2-bid-container {
  width: 352px;
  height: 296px;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  background-color: #23262f;
  border-radius: 24px;
  text-align: center;
  @media screen and (max-width: $medium) {
    width: 304px;
  }
}
.currentBid-group {
  height: 112px;
  line-height: 10px;
}
.part2-bid-text {
  font-size: 16px;
  font-weight: 500;
  color: #fcfcfd;
}
.part2-bid-quantity {
  font-size: 48px;
  font-weight: 700;
  color: #fcfcfd;
}
.part2-bid-total {
  font-size: 24px;
  font-weight: 600;
  color: #777e90;
}
.timer {
  @include flex;
  line-height: 5px;
  width: 230px;
  justify-content: space-evenly;
}
.number {
  font-size: 32px;
  font-weight: 700;
  color: #fcfcfd;
}
.txt {
  font-size: 16px;
  font-weight: 500;
  color: #777e90;
}
.part-3-placeABidButton {
  width: 352px;
  height: 48px;
  border-radius: 90px;
  background-color: #3772ff;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  @media screen and (max-width: $medium) {
    width: 304px;
  }
}
.part-3-viewItemButton {
  width: 352px;
  height: 48px;
  border-radius: 90px;
  background-color: #353945ff;
  color: #fcfcfd;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  @media screen and (max-width: $medium) {
    width: 304px;
  }
}
.arrowGroup {
  width: 88px;
  position: relative;
  right: 130px;
  @include flex;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    right: 100px;
  }
  @media screen and (max-width: $small) {
    right: 0px;
  }
}
.arrowRight {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #353945;
}
//--Section3
.main-section3 {
  @include flex;
  height: 640px;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    height: 756px;
    flex-direction: column;
    justify-content: center;
  }
}
.main-section-part1-part2-wrapper {
  @include flex;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    justify-content: center;
  }
}
//--Section3-part1
.main-section3-part1 {
  height: 512px;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
.main-section3-part1-1img {
  width: 448px;
  height: 446px;
  border-radius: 12px;
  @media screen and (max-width: $medium) {
    width: 414px;
    height: 432px;
  }
  @media screen and (max-width: $small) {
    width: 322px;
    height: 446px;
  }
}
.item-group {
  @include flex;
  width: 448px;
  height: 56px;
  justify-content: space-between;
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
.item-avatar-header {
  @include flex;
  gap: 15px;
  height: 56px;
}
.item-header-group {
  line-height: 5px;
}
.item-header-1 {
  color: #fcfcfd;
  font-size: 24px;
  font-weight: 600;
  @media screen and (max-width: $small) {
    font-size: 16px;
    font-weight: 500;
  }
}
.item-header-2 {
  color: #fcfcfd;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  text-align: start;
  @media screen and (max-width: $small) {
    font-size: 12px;
    font-weight: 600;
  }
}
.item-BidGroup {
  line-height: 10px;
}
.item-BidText {
  color: #777e90;
  font-size: 12px;
  font-weight: 400;
}
.item-BidNumber {
  color: #45b26b;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 8px 6px 8px;
  border: 2px solid #45b26b;
  border-radius: 4px;
}
//--Section3-part2
.main-section3-part2 {
  width: 351px;
  height: 512px;
  @include flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: $small) {
    display: none;
  }
}
.part2-card-group {
  @include flex;
  height: 200px;
  justify-content: center;
}
.part2-card-img {
  width: 160px;
  border-radius: 12px;
}
.card-text-group {
  width: 167px;
  height: 106px;
  @include flex;
  flex-direction: column;
  justify-content: center;
}
.card-avatar-number-group {
  width: 155px;
  @include flex;
  justify-content: space-evenly;
}
.card-btn {
  border-radius: 90px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: #141416;
  border: 2px solid #777e90;
  color: #fcfcfd;
}
//--Section3-part3
.main-section3-part3 {
  @include flex;
  height: 512px;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    align-items: flex-start;
    width: 864px;
    height: 312px;
    justify-content: center;
  }
  @media screen and (max-width: $small) {
    width: 311px;
    overflow-x: hidden;
  }
}
.part3-header-text {
  font-size: 12px;
  font-weight: 600px;
  color: #777e90;
  @media screen and (max-width: $medium) {
    text-align: left;
  }
  @media screen and (max-width: $small) {
    margin-left: 10px;
  }
}
.part3-card-container {
  @media screen and (max-width: $medium) {
    @include flex;
    width: 864px;
  }
  @media screen and (max-width: $small) {
    margin-left: 10px;
  }
}
.part3-card-group {
  @include flex;
  width: 224px;
  @media screen and (max-width: $small) {
  }
}
.part3-img-group {
  @include flex;
}
.part3-avatar {
  width: 56px;
  height: 56px;
  border-radius: 54px;
}
.part3-img-number {
  width: 24px;
  height: 24px;
  text-align: center;
  position: relative;
  bottom: 20px;
  right: 60px;
  background-color: #fcfcfd;
  border-radius: 64px;
}
.part3-card-name-number-group {
  width: 152px;
}
.part3-card-name {
  color: #fcfcfd;
  font-size: 14px;
  font-weight: 500;
}
.part3-card-number {
  font-size: 12px;
  font-weight: 500px;
  color: #777e90;
}
.part3-card-number-strong {
  font-size: 12px;
  font-weight: 600px;
  color: #fcfcfd;
}
.part3-btn {
  width: 158px;
  height: 40px;
  border-radius: 90px;
  background-color: #141416;
  color: #fcfcfd;
  border: 2px solid #777e90;
  font-size: 14px;
  font-weight: 700;
  @media screen and (max-width: $medium) {
    display: none;
  }
}
// //--Section4
.main-section4 {
  width: 100%;
  height: 663px;
  background-color: #23262f;
  @include flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: $medium) {
    height: 687px;
  }
  @media screen and (max-width: $small) {
    height: 655px;
  }
}
.section4-part1 {
  width: 1120px;
  @include flex;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    width: 311px;
    flex-direction: column;
    align-items: start;
  }
}
.part1-left-text-group {
  display: flex;
  flex-direction: column;
  line-height: 5px;
}
.part1-left-text1 {
  font-size: 14px;
  font-weight: 600;
  color: #777e90;
}
.part1-left-text2-arrow-group {
  @include flex;
  gap: 10px;
}
.part1-left-text2 {
  font-size: 20px;
  font-weight: 700;
  color: #fcfcfd;
}
.part1-left-arrow {
  width: 10px;
}
.part1-right-text-group {
  @include flex;
  flex-direction: column;
  text-align: start;
}
.part1-right-text1 {
  font-size: 12px;
  font-weight: 700;
  color: #b1b5c3;
  text-transform: uppercase;
  position: relative;
  right: 100px;
}
.part1-right-text2-arrow-group {
  @include flex;
  justify-content: space-between;
  width: 256px;
  height: 32px;
  padding: 8px 8px 8px 16px;
  border-radius: 12px;
  border: 2px solid #777e90;
}
.part1-right-text2 {
  font-size: 14px;
  font-weight: 500;
  color: #fcfcfd;
}
.part1-right-arrow {
  width: 8px;
  padding: 10px;
  color: #2553c8;
  border-radius: 50%;
  border: 2px solid #353945;
}
.section4-part2 {
  @include flex;
  width: 1264px;
  height: 263px;
  justify-content: space-evenly;

  @media screen and (max-width: $medium) {
    width: 864px;
    height: 319px;
    overflow-x: hidden;
    gap: 20px;
    justify-content: start;
  }
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
.arrow-group {
  @media screen and (max-width: $medium) {
    @include flex;
    width: 104px;
    justify-content: space-evenly;
  }
}
.part2-arrowLeft {
  position: relative;
  bottom: 240px;
  right: 650px;
  @media screen and (max-width: $medium) {
    bottom: 0px;
    right: 0px;
  }
}
.part2-arrowRight {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #777e90;
  position: relative;
  bottom: 240px;
  left: 650px;
  @media screen and (max-width: $medium) {
    bottom: 0px;
    left: 0px;
  }
}
.section4-part2-card-group {
  min-width: 199px;
  height: 247px;
  border-radius: 16px;
  background-color: #141416;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
  }
}
.card-icons-group {
  @include flex;
  width: 150px;
  justify-content: space-between;
}
.card-logo-group {
  @include flex;
  justify-content: space-evenly;
  width: 51px;
  height: 24px;
  padding: 2px 8px;
  border-radius: 24px;
  background-color: #3772ff;
}
.card-logo-icon {
  width: 16px;
}
.card-logo-number {
  font-size: 12px;
  font-weight: 600;
  color: #fcfcfd;
}
.card-avatar {
  width: 64px;
  border-radius: 48px;
}
.card-diamond-icon {
  position: relative;
  right: 25px;
  top: 10px;
}
.card-name-number-group {
  text-align: center;
}
//--Section5
.main-section5 {
  height: 826px;
  @include flex;
  flex-direction: column;
}
//--Section5-part1
.section5-part1 {
  width: 1120px;
  @include flex;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
.part1-text {
  font-size: 40px;
  font-weight: 700;
  color: #fcfcfd;
}
.part1-arrow-group {
  @include flex;
  width: 88px;
  justify-content: space-evenly;
}
.part1-arrow-right {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #777e90;
}
//--Section5-part2
.section5-part2 {
  @include flex;
  width: 1120px;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
    overflow: hidden;
    gap: 40px;
  }
  @media screen and (max-width: $small) {
    width: 350px;
  }
}
// .section5-part2::-webkit-scrollbar {
//   width: 0;
// }
.section5-part2-card-group {
  height: 450px;
  @include flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img {
  width: 256px;
  height: 302px;
  border-radius: 16px;
}
// Card2 "purchasing!" & "addToWishList"
// .card2-icons-overlay{
//   @include flex;
//   justify-content: space-between;
//   width: 240px;
//   position: relative;
//   z-index: 2;
//   bottom: 300px;
// }
// .card2-purchasing{
//   font-size: 12px;
//   font-weight: 700;
//   text-transform: uppercase;
//   padding: 8px 8px 6px 8px;
//   border-radius: 4px;
//   background-color: #45B26B;
//   color: #fcfcfd;
// }
.card-header-number-group {
  @include flex;
  justify-content: space-between;
  width: 256px;
}
.card-header {
  font-size: 16px;
  font-weight: 500;
  color: #fcfcfd;
}
.card-avatar-text-group {
  @include flex;
  justify-content: space-between;
  width: 256px;
}
.section5-card-avatar1 {
  width: 24px;
  border-radius: 48px;
  background-color: #9757d7;
  border: 2px solid #23262f;
}
.section5-card-avatar2 {
  width: 24px;
  border-radius: 48px;
  background-color: #ef466f;
  border: 2px solid #23262f;
  position: relative;
  right: 15px;
}
.section5-card-avatar3 {
  width: 24px;
  border-radius: 48px;
  background-color: #45b26b;
  border: 2px solid #23262f;
  position: relative;
  right: 30px;
}
.card-text {
  font-size: 14px;
  font-weight: 500;
  color: #fcfcfd;
}
.card-bottom-part {
  @include flex;
  justify-content: space-between;
  width: 256px;
}
.card-icon-highestBid-number-group {
  @include flex;
  width: 152px;
  justify-content: space-between;
}
.card-bid {
  font-size: 12px;
  font-weight: 400;
  color: #777e90;
}
.card-number {
  font-size: 12px;
  font-weight: 600;
  color: #fcfcfd;
}
//--Section6
.main-section6 {
  color: #fdfdfd;
  @include flex;
  flex-direction: column;
  background-color: #23262f;
  height: 789px;
  width: 100%;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    width: 1024px;
    height: 725px;
  }
  @media screen and (max-width: $small) {
    // width: 375px;
    // @include flex;
    // height: 685px;
    // margin-left: 25px;
  }
}
//--Section6-part1
.section6-part1 {
  // @include flex;

  width: 1120px;
  // justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    width: 360px;
    text-align: center;
  }
}
//--Section6-part2
.section6-part2 {
  @include flex;
  width: 1120px;
  height: 500px;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
    overflow: hidden;
    gap: 40px;
  }
  @media screen and (max-width: $small) {
    width: 360px;
  }
}
.section6-part2-card-group {
  width: 352px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section6-card-part1-img {
  width: 352px;
  height: 240px;
  border-radius: 12px;
}
.card-part2-img-group {
  padding-top: 5px;
  @include flex;
  justify-content: space-evenly;
}
.card-part2-img {
  border-radius: 8px;
}
.card-part3-header {
  font-size: 24px;
  font-weight: 600;
}
.card-part4-items-group {
  @include flex;
  width: 352px;
  justify-content: space-between;
}
.card-part4-avatar-name-group {
  @include flex;
  gap: 20px;
}
.card-part4-name {
  font-size: 14px;
  font-weight: 500;
}
.card-part4-items {
  font-size: 12px;
  font-weight: 700;
  padding: 8px 8px 6px 8px;
  border: 2px solid #fcfcfd;
  border-radius: 4px;
}
//--Section7
.main-section7 {
  color: #fcfcfd;
  @include flex;
  height: 1605px;
  flex-direction: column;
  justify-content: space-evenly;
}
//--Section7-part1
.section7-part1 {
  font-size: 40px;
  font-weight: 700;
  width: 1120px;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    width: 311px;
  }
}
//--Section7-part2
.section7-part2 {
  height: 1221px;
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  @media screen and (max-width: $medium) {
    // width: 864px;
  }
}
.part2-1 {
  @include flex;
  justify-content: space-between;
  width: 1120px;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    display: none;
  }
}
.part2-mobile-buttons-group {
  display: none;
  @media screen and (max-width: $small) {
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px;
    .part2-mobile-button {
      @include flex;
      justify-content: space-evenly;
      width: 311px;
      height: 48px;
      border-radius: 12px;
      border: 2px solid #353945;
      font-size: 14px;
      font-weight: 500;
    }
    .part2-mobile-button-text {
      width: 182px;
    }
    .part2-mobile-button-filter {
      @include flex;
      justify-content: center;
      width: 311px;
      height: 48px;
      border-radius: 90px;
      font-size: 16px;
      font-weight: 700;
      background-color: #3772ff;
    }
  }
}
.part2-1-leftButton {
  @include flex;
  justify-content: space-around;
  width: 180px;
  height: 48px;
  border-radius: 12px;
  border: 2px solid #353945;
  font-size: 14px;
  font-weight: 500;
}
.part2-1-header-group {
  width: 494px;
  @include flex;
}
.part2-1-rightButton {
  width: 116px;
  height: 48px;
  @include flex;
  justify-content: space-around;
  background-color: #3772ff;
  border-radius: 90px;
}
.part2-2 {
  @media screen and (max-width: $small) {
    display: none;
  }
}
.part2-3 {
  @include flex;
  width: 1120px;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
  }
  @media screen and (max-width: $small) {
    display: none;
  }
}
.part2-3-text-button-group-verifiedOnly {
  @include flex;
  flex-direction: column;
  @media screen and (max-width: $medium) {
    display: none;
  }
}
.part2-3-text {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b1b5c3;
  width: 256px;
}
.part2-3-button {
  @include flex;
  justify-content: space-around;
  width: 256px;
  height: 48px;
  border-radius: 12px;
  border: 2px solid #353945;
  font-size: 14px;
  font-weight: 500;
}
.part2-4 {
  @include flex;
  width: 1120px;
  justify-content: space-between;
  @media screen and (max-width: $medium) {
    width: 864px;
    overflow: hidden;
    gap: 40px;
  }
  @media screen and (max-width: $small) {
    width: 320px;
  }
}
.part2-5-buttonGroup {
  @include flex;
  justify-content: space-evenly;
  width: 132px;
  height: 40px;
  border-radius: 90px;
  border: 2px solid #777e90;
  font-size: 14px;
  font-weight: 700;
}
